h2 {
	font-size: 30px;
}

.festival_details {
	float: left;
	width: 30%;
	margin: 0px;
}

.spacer {
	float: left;
	margin: 0px 5px;
	font-weight: bold;
}

#empty_div {
	clear:both;
}

#instructions {
	margin: 30px 0px 30px 0px;
	clear: both;
	line-height: 150%;
	font-style: italic;
}

.field_form, #loading_icon, #passed_id {
	display: none;
}

#message_holder {
	display: none;
	font-weight: bold;
	font-size: 20px;
	background-color: #FFF056;
	color: #191919;
	padding: 10px;
	margin-bottom: 20px;
}

#save_icon {
	background-color: #191919;
	color: #FFFFFF;
	padding: 10px;
	display: inline;
	font-weight: bold;
}

#save_icon:hover {
	background-color: #FFF056;
	color: #191919;
}

#total_cost {
	margin-top: 25px;
	font-size: 16px;
	font-weight: bold;
}

table {
	border-spacing: 0px;
	color:#191919;
	font-size:15px;
	margin: 20px auto;
	border:#191919 1px solid;
}

table th {
	padding: 20px;
	border-bottom:1px solid #191919;
	background: #DFE2DB;
}

table th:first-child {
	text-align: left;
	padding-left:20px;
}

table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

table td {
	padding:15px;
	border-bottom:1px solid #191919;
	border-left: 1px solid #191919;
	background: #FFFFFF;
}

table tr:last-child td {
	border-bottom:0;
}

table td:first-child:hover {
	background: #FFFFFF;
}

table td:hover {
	background: #FFF056;
}
