#id_holder {
	display: none;
}

#message_holder {
	display: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #FFF056;
	color: #191919;
	padding: 10px;
}

h2 {
	font-size: 30px;
}

form {
	margin-top: 30px;
}

#instructions {
	margin-bottom: 30px;
	font-style: italic;
}

#submit_button {
	margin-top: 20px;
	background-color: #191919;
	color: #FFFFFF;
	padding: 5px;
	font-family: Georgia, Arial, sans-serif;
	font-size: 16px;
	border: none;	
	font-weight: bold;
}

#submit_button:hover {
	background-color: #FFF056;
	color: #191919;
}

input {
	margin: 0px 0px 5px 5px;
}
