#message_holder {
	color: red;
	font-weight: bold;
}

#instructions {
	font-style: italic;
	font-size: 16px;
}

form p {
	font-size: 18px;
}

form input {
	margin: 0px 0px 15px 5px;	
}

input[type=submit] {
	background-color: #DFE2DB;
	color: #191919;
	padding: 10px;
	font-family: Georgia, Arial, sans-serif;
	font-size: 16px;
	border: none;
	font-weight: bold;
}

input[type=submit]:hover {
	background-color: #FFF056;
	color: #191919;
}
